<mat-toolbar color="primary">
  <span>Woodland Warriors Games</span>
</mat-toolbar>

<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="filter-container">
  <mat-form-field *ngIf="!isLoading" color="accent">

    <mat-chip-list #chipList>

      <mat-chip
        *ngFor="let filter of activeFilters"
        [color]="filter.color"
        selected="true"
        (removed)="removeFilter(filter)">
        {{ filter.name }}
        <mat-icon matChipRemove (click)="removeFilter(filter)">cancel</mat-icon>
      </mat-chip>

      <input
        placeholder="Add a filter"
        #filterInput
        [formControl]="filterCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addFilter($event)">
      <mat-option *ngFor="let filter of filteredFilters | async" [value]="filter" [class.hidden]="filter.isActive">
        {{ filter.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>

<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading">
  
    <ng-container [matColumnDef]="header" *ngFor="let header of headers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ header }}<br>{{ wins[header] }}/{{ winPercents[header] }}%</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[header] }}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="headers; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headers;"></mat-row>
    
  </mat-table>
</div>

<mat-paginator [length]="currentDataSet.length" [pageSize]="25" (page)="changePage($event)"></mat-paginator>