
.hidden {
  display: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.filter-container {
  overflow: auto;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  mat-form-field {
    width: 100%;
  }
}

.table-container {
  overflow: auto;
}

:host {
  display: grid;
  grid-template-rows: 64px 150px auto 56px;
  height: 100vh;
}

.mat-chip {
  color: #fff;

  &.mat-primary {
    background-color: #7b1fa2;
  }

  &.mat-accent {
    background-color: #008b00;
  }

  &.mat-warn {
    background-color: #f44336;
  }
}